a{
    font-size: large;
    color:white;
}
#miniContainer {
    display: flex;
    justify-content: space-around;
}
.card:hover{
    transform: scale(1.1);
    background-color: grey;
}
.OlympicImg {
    width: 15%;
    display: flex;
    margin-right: 12%;
}

#footer {
    display: flex;
    background-color: rgb(214, 214, 214);
}

#containerFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
}
#olympicContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
}
h2{
    text-align: center;
}

a{
    text-decoration: none;
    
}
#anchor:hover{
    transform: scale(1.2);
    color: white;
}
.btn-primary:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#containerFilipe {
    width: 550px;
    height: 50px;
    background-color: chocolate;
    border: 1px solid orange;
    position: relative;
    margin-bottom: 10px; /* Space between container and position image */
}

#containerFilipeSwim {
    width: 550px;
    height: 50px;
    background-color: rgb(101, 185, 224);
    border: 1px solid rgb(144, 203, 230);
    position: relative;
    margin-bottom: 10px; /* Space between container and position image */
}

/* Box Styling */
.box {
    width: 50px;
    height: 49px;
    background-color: chocolate;
    position: absolute;
}

.boxSwim {
    width: 50px;
    height: 50px;
    background-color: rgb(101, 185, 224);
    position: absolute;
}

/* Hide Image by Default */
.box img {
    width: 50px;
    height: 49px;
    display: none; /* Hide by default */
}

.box-name {
    align-self:flex-start;
}

.boxSwim img {
    width: 50px;
    height: 49px;
    display: none; /* Hide by default */
}

/* Positioning Images */
.position {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    position: absolute; /* Ensure it is positioned relative to the parent */
    margin-top: 0px;
}

/* Positioning Relative to Container */
.div-size {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

#containerFilipe + .position {
    /* Adjust these values if necessary to match the layout */
    position: absolute;
    top: 0;
    left: 560px; /* This should match the container's width and spacing */
}

#containerFilipeSwim + .position {
    /* Adjust these values if necessary to match the layout */
    position: absolute;
    top: 0;
    left: 560px; /* This should match the container's width and spacing */
}

/* Button Styling */
button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button + button {
    margin-left: 10px; /* Space between buttons */
}

#container {
    height: 100vh;
}